<link rel="stylesheet" href="/css/user_profile.css">
<a href="/users/sign-out ">Sign out</a>
<h1> 
    Codeial/<%= title %>
</h1>

<h2>User <%= user.name %> has signed in with email id <%= user.email %> </h2>
