footer {
  background-color: blueviolet;
  display: flex; }
  footer #rights {
    flex-basis: 30%;
    border: 1px solid red;
    position: relative; }
    footer #rights span {
      position: absolute;
      top: 20px;
      color: whitesmoke;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      word-spacing: 0.3rem; }
  footer #footer-list {
    border: 1px solid red;
    flex-basis: 100px; }
    footer #footer-list ul {
      list-style: none; }
      footer #footer-list ul li {
        font-size: 1.2rem; }
        footer #footer-list ul li a {
          text-decoration: none;
          color: whitesmoke; }
